
.text-field
{
  -fx-background-color : transparent;
  -fx-border-width : 0px;
}

HBox, .text-field
{
  -fx-border-color : transparent;
}

.login
{
   -fx-background-color : #b9b9bb(to left, -mint, -success);
}

.login:focused, .login:hover
{
  -fx-background-color : #6f6f72(to left, -success, -mint);

}
